<!DOCTYPE html>
<html>
  <meta name="viewport" content="initial-scale=1.5">
  <body>
  	<form action = "" method = "post">
	  Sesnor Pin #: <input type="text" name="sensor_pin"><br>
	  Open Pin #: <input type="text" name="open_pin"><br>
	  Close Pin #: <input type="text" name="close_pin"><br>
	  Open Motor Time (s): <input type="text" name="open_time"><br>
	  Close Motor Time (s): <input type="text" name="close_time"><br>
	  <input type="submit" value="Set">
	</form>
	<br><br>
	Current Settings are:
	<dl>
      {% for key, value in my_settings.iteritems() %}
            <UL>
			<LI>{{key}}
				<UL>
					<LI>{{ value }}
				</UL>
			</UL>
      {% endfor %}
	</dl>
	<br>
	<a href="/">Back to main page</a>
  </body>