<!DOCTYPE html>
<html>
  <meta name="viewport" content="initial-scale=1.5">
  <body>
  	<div class="container">
      <p>Your windows are currently: {{state_string}}</p>
      <p>This happened at: {{time_string}}</p>
    </div>
  	<form action = "" method = "post">
    	<input type="submit" name="toggle" value="Toggle" />
	</form>
	<br><br>
	<a href="/settings">Go to settings page</a>
  <a href="/update">Check for update</a>
  </body>