<!DOCTYPE html>
<html>
    <meta name="viewport" content="initial-scale=1.5">
    <body>
    <form action = "" method = "post">
        <input type="submit" name="update" value="Update" />
    </form>
    <br><br>
    Change log from last update:
    <dl>
        {% for line in changelog %}
            <li>{{ line }}</li>
        {% endfor %}
    </dl>
    <br>
    <a href="/">Back to main page</a>
    </body>